<ul *ngFor="let userdata of data">
    <li>{{userdata}}</li>
</ul>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <!-- Your sidebar content goes here -->
      data
    </div>
    <div id="page-content-wrapper">
      <!-- Your main content goes here -->
      data
    </div>
  </div>
  <!-- Sidebar component -->
<nav class="side-navbar">
    <!-- Sidebar header -->
    <div class="sidebar-header">
      <h3>Bootstrap</h3>
    </div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Home</li>
      <li class="list-group-item">About</li>
      <li class="list-group-item">Contact</li>
    </ul>
  </nav>
  
  